.modalContent {
  width: 50%;
  height: 50%;
  padding: 2%;
  position: absolute;
  display: inline-block;
  word-wrap: break-word;
  background-color: white;
  box-shadow: inset 0 0 10px 10px rgba(0,0,0,.2);
}

.modalForm {
  width: 25%;
  height: 25%;
  padding: 2%;
  display: flex;
  position: relative;
  align-items: center;
  word-wrap: break-word;
  background-color: white;
  justify-content: center;
  box-shadow: inset 0 0 10px 10px rgba(0,0,0,.2);
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}

.modalLabel {

}
