.textarea {
    width: 75%;
}

.answer {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    font-size: 12px;
}
